if TARGET_ROCKETCHIP_VC709

config SYS_BOARD
	default "vc709"

config SYS_VENDOR
	default "rocketchip"

config SYS_CPU
	default "generic"

config SYS_CONFIG_NAME
	default "vc709"

config SYS_TEXT_BASE
	default 0x80000000

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y
	select GENERIC_RISCV
	imply SMP
	imply BOARD_LATE_INIT
	imply SPI
	imply SPI_SIFIVE
	imply MMC
	imply MMC_SPI
	imply MMC_BROKEN_CD
	imply CMD_MMC
	imply SIFIVE_CACHE
	imply SIFIVE_CCACHE
	imply SIFIVE_SERIAL
	imply DM_GPIO
	imply SIFIVE_GPIO
	imply CMD_GPIO
	imply MISC
	imply SIFIVE_OTP
	imply DM_PWM
	imply PWM_SIFIVE
	imply DM_I2C
	imply SYS_I2C_OCORES
	imply SPL_I2C
endif

