# copied from qemu defconfig
CONFIG_RISCV=y
CONFIG_NR_DRAM_BANKS=1
CONFIG_ENV_SIZE=0x20000
CONFIG_TARGET_ROCKETCHIP_VC709=y
CONFIG_ARCH_RV64I=y
# CONFIG_DISTRO_DEFAULTS=y
CONFIG_FIT=y
CONFIG_DISPLAY_CPUINFO=y
CONFIG_DISPLAY_BOARDINFO=y
CONFIG_CMD_BOOTEFI_SELFTEST=y
CONFIG_CMD_NVEDIT_EFI=y
# CONFIG_CMD_MII is not set
CONFIG_OF_PRIOR_STAGE=y
CONFIG_SYS_RELOC_GD_ENV_ADDR=y
CONFIG_DM_MTD=y

# reduce image size
CONFIG_BLK=n
CONFIG_MTD=n
CONFIG_DISTRO_DEFAULTS=n
CONFIG_REGEX=n
CONFIG_EFI_LOADER=n
CONFIG_PARTITIONS=n
CONFIG_CMD_NFS=n
CONFIG_CMD_CRC32=n
CONFIG_CMD_LZMADEC=n
CONFIG_CMD_UNLZ4=n
CONFIG_CMD_UNZIP=n
CONFIG_FIT_FULL_CHECK=n
CONFIG_FIT_ENABLE_SHA256_SUPPORT=n
CONFIG_GZIP=n
CONFIG_DM_MMC=n
CONFIG_CMD_LOADB=n
CONFIG_CMD_FDT=n

# crypto
CONFIG_CMD_MD5SUM=y

# early debug uart
CONFIG_DEBUG_UART=y
CONFIG_DEBUG_UART_NS16550=y
CONFIG_DEBUG_UART_CLOCK=50000000
CONFIG_DEBUG_UART_BASE=0x64000000
CONFIG_DEBUG_UART_SHIFT=2
CONFIG_BAUDRATE=921600

# axi quad spi driver
CONFIG_SPI=y
CONFIG_SPI_FLASH=y
CONFIG_XILINX_SPI=y
CONFIG_CMD_SPI=y
CONFIG_SPI_FLASH_STMICRO=y

# axi ethernet driver
CONFIG_DM_ETH=y
CONFIG_DM_MDIO=y
CONFIG_DM_ETH_PHY=y
CONFIG_PHY=y
CONFIG_NET=y
CONFIG_XILINX_AXIEMAC=y
CONFIG_CMD_MII=y
CONFIG_CMD_MDIO=y
CONFIG_CMD_PING=y
CONFIG_PHY_TI_DP83867=y
CONFIG_PHY_XILINX=y

# axi i2c driver
CONFIG_DM_I2C=y
CONFIG_SYS_I2C_XILINX_XIIC=y
CONFIG_CMD_I2C=y

# tca6416a gpio driver
CONFIG_DM_GPIO=y
CONFIG_DM_PCA953X=y
CONFIG_CMD_GPIO=y

# use embedded dtb
CONFIG_OF_SEPARATE=y
CONFIG_DEFAULT_DEVICE_TREE="rocketchip-vc709"
